.grid-container {
	padding: 0 20px;
}
.grid-row {
	width: 100%;
	max-width: 1140px;
	min-width: 768px;
	margin: 0 auto;
	overflow: hidden;
}
.narrow {
	width: 100%;
	max-width: 600px;
	min-width: 100px;
	margin: 0 auto;
	overflow: hidden;	
}
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11 {
	margin-right:3.8%;
	float:left;
	min-height:1px;
}
.col1 {
	width: 4.85%;
}
.ie .col1 {
	width: 4.7%;
}
.col2 {
	width: 13.45%;
}
.ie .col2 {
	width: 13.2%;
}
.col3 {
	width: 22.05%;
}
.ie .col3 {
	width: 22.05%;
}
.col4 {
	width: 30.75%;
}
.ie .col4 {
	width: 30.6%;
}
.col5 {
	width: 39.45%;
}
.ie .col5 {
	width: 39%;
}
.col6 {
	width: 48%;
}
.ie .col6 {
	width: 48%;
}
.col7 {
	width: 56.75%;
}
.ie .col7 {
	width: 56.75%;
}
.col8 {
	width: 65.4%;
}
.ie .col8 {
	width: 61.6%;
}
.col9 {
	width: 74.05%;
}
.ie .col9 {
	width: 74.05%;
}
.col10 {
	width: 82.7%;
}
.ie .col10 {
	width: 82%;
}
.col11 {
	width: 91.35%;
}
.ie .col11 {
	width: 91.35%;
}
.col12 {
	width: 100%; float: left;
}
.last {
	margin-right: 0;
}
img,
object,
embed,
iframe {
	max-width: 100%;
}
img {
	height: auto;
}

/* MOBILE
----------------------------------------- */
@media handheld, only screen and (max-width: 767px) {	
	body,
	.grid-container,
	.grid-row {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
		width: auto;
		float: none;
		margin-left: 0;
		margin-right: 0;
		padding: 0 2.4em;
		overflow: hidden;
    }
	.content-container .col1,
	.content-container .col2,
	.content-container .col3,
	.content-container .col4,
	.content-container .col5,
	.content-container .col6,
	.content-container .col7,
	.content-container .col8,
	.content-container .col9,
	.content-container .col10,
	.content-container .col11,
	.content-container .col12 {
		margin: 2.4em 0 0;
	}
}*/