/*
Styles for the
login widget,
registration, lost password & profile forms,
as well as the user-panel at the top of the page:
*/


/* WIDGET & FORM WRAPPER
----------------------------------------- */

.login {
	padding: 2.1em;
	border-radius: 2.2em;
	background: #c4e3f0;
	margin:0 0 4.2em;
}
.login h2 {
	color: #584619;
}
div.login-widget {
	overflow: hidden;
}


/* LINKS BENEATH WIDGET & FORMS
----------------------------------------- */

.tml-action-links {
	margin-top: 0;
}
.tml-action-links a {
	font-family: GS;
	font-size: 1.4em;
	font-weight: 400;
	color: #00586c;
	display: block;
	line-height: 1;
	padding-top: .5em
}
.no-touch .tml-action-links a:hover,
.tml-action-links a:active {
	color: #008fc1;
	text-shadow: 0 0 1px #00586c;
}


/* FORM SECTIONS
----------------------------------------- */

.login h3 {
	margin: 1.8333333em 0 .5em;
}


/* THE USER PANEL
----------------------------------------- */

.user-panel h2,
.user-panel h2 a {
	color: #b09e79;
	margin: 0;
	font-weight: 700;
}
.user-panel h4 {
	color: #ffffff;
}
.vca-user-links {
	float: right;
	display: table-cell;
	vertical-align: middle;
}
.vca-user-links li {
	display: inline-block;
}
.vca-user-links a {
	float: right;
	text-align:  right;
	font-family: GSC;
	font-size: 2.1em;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	display: inline-block;
	line-height: 1;
	padding: .476190476em 0 0 2em;
}
.no-touch .vca-user-links a:hover,
.vca-user-links a:active {
	color: #c4e3f0;
	text-shadow: 0 0 1px #ffffff;
}
.vca-user-links a span {
	color: #ffffff; /* fallback */
	color: rgba(255, 255, 255, 0);
	margin-left: -10em;
	font-family: GS;
	font-size: .571428571em;
	font-weight: 400;
	text-transform: uppercase;
}
.no-touch .vca-user-links a:hover > span,
.vca-user-links a:hover > span {
	color: #ffffff; /* fallback */
	color: rgba(196, 227, 240, 1);
	margin-left: 0;
	font-family: GS;
}
.tml-user-links {
	float: left;
}
.tml-user-links li {
	display: inline;
}
.tml-user-links a {
	font-family: GSC;
	font-size: 1.6em;
	font-weight: 400;
	color: #c4e3f0;
	display: inline-block;
	line-height: 1;
	padding: 5px 0 0 0;
}
.no-touch .tml-user-links a:hover,
.tml-user-links a:active {
	color: #ffffff;
	text-shadow: 0 0 1px #e9619c;
}


/* AVATAR SECTION OF FRONTEND PROFILE VIEW
----------------------------------------- */

.form-row .avatar {
	border: 2px solid #008fc1;
}


/* PASSWORD SECTION OF
 * REGISTRATION & LOST PASS FORM
----------------------------------------- */

.pass-row p {
	font-size: 1em;
	overflow: hidden;
	padding-top: .4em;
}
.pass-row p:first-child {
	padding-top: 0;
}
.pass-row p input {
	padding-top: 0;
}
.pass-mail-row {
	padding: 0;
}
.pass-mail-row p {
	padding: .25em 0;
}
#pass-strength-result {
	font-family: GS, Helvetica, Arial, Verdana, sans-serif;
	float: right !important;
	width: 48%;
    border: 2px solid #008fc1;
	border-radius: 4px;
	font-size: 1.2em;
    margin: 0;
    padding: .416666667em 0 .5em;
    text-align: center;
}
#pass-strength-result.strong,
#pass-strength-result.short {
    font-weight: 700;
}
#pass-strength-result {
    background: #dddddd;
}
#pass-strength-result.short {
    background-color: #f19fc1;
    border-color: #e9619c !important;
}
#pass-strength-result.bad {
    background-color: #e3cf9a;
    border-color: #bba259 !important;
}
#pass-strength-result.good {
    background-color: #d5ecf1;
    border-color: #00a8cf !important;
}
#pass-strength-result.strong {
    background-color: #7ec5e0;
    border-color: #008fc1 !important;
	color: #ffffff;
}


/* ANIMATIONS
----------------------------------------- */

.vca-user-links a,
.tml-user-links a {
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	-webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.vca-user-links a span {
	-webkit-transition: all 0.3s;	
}