/*
Styles for the
login widget,
registration, lost password & profile forms,
as well as the user-panel at the top of the page:
*/


/* WIDGET & FORM WRAPPER
----------------------------------------- */

div.login-widget {
	overflow: hidden;
}


/* LINKS BENEATH WIDGET & FORMS
----------------------------------------- */

.tml-action-links {
	margin-top: 0;
}
.tml-action-links a {
	font-family: GS;
	font-size: 1.4em;
	font-weight: 400;
	color: #00586c;
	display: block;
	line-height: 1;
	padding-top: .5em
}
.no-touch .tml-action-links a:hover,
.tml-action-links a:active {
	color: #008fc1;
	text-shadow: 0 0 1px #00586c;
}


/* FORM SECTIONS
----------------------------------------- */

.login h3 {
	margin: 1.8333333em 0 .5em;
}


/* AVATAR SECTION OF FRONTEND PROFILE VIEW
----------------------------------------- */

.form-row .avatar {
	border: 2px solid #008fc1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}


/* PASSWORD SECTION OF
 * REGISTRATION & LOST PASS FORM
----------------------------------------- */
.form-row.pass-row {
	margin-bottom: 0;
}
.pass-row p {
	font-size: 1em;
	overflow: hidden;
	margin-bottom: 1.7em;
}
.pass-row p input {
	padding-top: 0;
}
.pass-mail-row {
	padding: 0;
}
.pass-mail-row p {
	padding: .25em 0;
}
.strength-row {
}
#pass-strength-result {
	font-family: GS, Helvetica, Arial, Verdana, sans-serif;
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    border: 2px solid #008fc1;
	border-radius: 4px;
	font-size: 1.2em;
    margin: 0;
    padding: .416666667em 0 .5em;
    text-align: center;
	color: #002a3d;
}
#pass-strength-result.strong,
#pass-strength-result.short {
    font-weight: 700;
}
#pass-strength-result {
    background: #dddddd;
}
#pass-strength-result.short {
    background-color: #f19fc1;
    border-color: #e9619c !important;
}
#pass-strength-result.bad {
    background-color: #e3cf9a;
    border-color: #bba259 !important;
}
#pass-strength-result.good {
    background-color: #d5ecf1;
    border-color: #00a8cf !important;
}
#pass-strength-result.strong {
    background-color: #7ec5e0;
    border-color: #008fc1 !important;
}


/* ANIMATIONS
----------------------------------------- */

.vca-user-links a,
.tml-user-links a {
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	-webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.vca-user-links a span {
	-webkit-transition: all 0.3s;
}